<!DOCTYPE html>
<html>
<head>
    <title>Saved Passwords</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">
    <h3>Saved Passwords</h3>

    <table>
        <tr>
            <th>Label</th>
            <th>Password</th>
            <th>Action</th>
        </tr>

        {% for item in data %}
        <tr>
            <td>{{ item[0] }}</td>
            <td>{{ item[1] }}</td>
            <td class="actions">
                <a href="/edit/{{ loop.index0 }}">
                    <button>Edit</button>
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>

    <br>
    <a href="/dashboard" class="link">⬅ Return to Dashboard</a>
</div>

</body>
</html>
